#mycanvas
{
  border:1px solid black;
  position:absolute;
  background:white;
  
 
}
body
{
background:url('../background2.jpg');
color:white;
font-weight:bold;
font-style:normal;

}
#countdown
{
position:absolute;
left:200px;
top:500px;
}
#coins
{
position:absolute;
left:300px;
top:420px;
font-size:200%;
font-style:bold;
}
#timer
{
position:absolute;
left:300px;
top:500px;
font-size:200%;
font-style:oblique;
} 
#levels
{
position:absolute;
left:500px;

}
#restart
{
position:absolute;
left:100px;
top:420px;
}
#commentbox
{
position:absolute;
left:640px;
background:black;
color:white;
font-style:oblique;
font-weight:bold;
}
.level
{
width:80px;
height:40px;
}
